apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app
  labels:
    app: python-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
        - name: python-app
          image: lemosj98/python-app:3f4b1a5
          ports:
            - containerPort: 5000
          imagePullPolicy: IfNotPresent
